[project]
name = "liteq"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[dependency-groups]
dev = [
    "black>=25.11.0",
    "ipython>=9.7.0",
    "pytest>=9.0.1",
    "ruff>=0.14.6",
]
